.latest-newsletter {
    text-align: center;
    color: black;
    margin-top: 5%;
  }
  
  .latest-newsletter h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
  }
  
  .latest-newsletter p {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    color: Black;
    text-align: center; /* Align the text to the left */
  }
  
  .image-container {
    display: flex;
    justify-content: center; /* Center the image horizontally */
    margin-bottom: 1rem; /* Add some margin below the image */
  }
  
  .image-container img {
    width: 30%;
    height: 30%;
    object-fit: contain; /* Prevent the image from being stretched */
  }
  
  .latest-newsletter a {
    color: blue;
    text-decoration: none; /* remove the underline */
  }
  
  .latest-newsletter a:hover {
    color: purple;
    text-decoration: none; /* add underline on hover */
  }




  .latest-newsletter-header{
    background-color: aqua;
    border: 20px solid black;
    margin: 50px;
   display: flex;
   flex-direction: row-reverse;

  }

  .latest-newsletter-header h2{
    color: rgb(223, 18, 18);
    font-size: 3rem;
    font-weight: bold;
    color: black;
    text-align: center;

  }
  

  .latest-newsletter-header p{
    
    font-family: Times New Roman;
    border: 15px solid yellow;
    color: white;
    font-size: 20px;
    text-align: justify;
 
  }
  