.spot {
    margin-top: 20px; /* Adjust this value to reduce the spacing */
  }
  
.colores{
  background-color: black;
}

.title-container {
    text-align: center;

    }
    
    .image-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .image-slider img {
        width: 50%;
        height: 25%;
        object-fit: contain;
        transition: transform 2s ease-in-out;
        padding-bottom: 2%; /* Change this value to reduce the spacing */
      }
      
    
    .image-slider button {
    font-size: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    }
    
    .title-container h1, .title-container p {
    color: gold;
    }
    
    .title-container h1 {
    font-size: 2rem;
    font-weight: 800;
    }
    
    .title-container p {
        font-size: 1.2rem;
        margin-bottom: 20px; /* Change this value to reduce the spacing */
      }
      
    
    /* Add a media query for smaller screens */
    @media screen and (max-width: 800px) {
     body{
        padding-top: 10%;
    }
    .title-container h1 {
    font-size: 1.5rem;
    }
    
    .title-container p {
        font-size: 1rem;
    }
    
    .image-slider img {
        width: 90%;
    }
    }