.committee-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  margin-top: 150px;
}

.committee-name {
  font-weight: bold;
  color: gold;
  margin-top: 20px;
  font-size: 28px;
}

.committee-title {
  font-weight: bold;
  font-size: 50px;
  color: gold;
  margin-top: 10px;
}

.committee-paragraph {
  color: gold;
  margin-top: 10px;
  text-align: center;
  width: 80%;
  font-size: 25px;
  padding: 10px 20px;
}

.committee-contact {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.committee-contact a {
  background-color: gold;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.committee-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 2%;
  margin-top: 20px;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.images-container div {
  flex: 1;
  min-width: 300px;
}

@media (max-width: 600px) {
  .committee-title {
    font-size: 30px;
  }
  
  .committee-paragraph {
    font-size: 20px;
  }
  
  .committee-contact a {
    font-size: 14px;
    padding: 5px 10px;
  }
  
  .committee-container img {
    margin-top: 10px;
  }
  
  .images-container {
    flex-direction: column;
  }
  
  .images-container div {
    flex: none;
    margin-bottom: 10px;
  }
}
