.person-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    text-align: center;
}

.person-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.person-container h2 {
    font-size: 1.5rem;
    color: gold;
    margin-bottom: 2rem;
    text-align: center;
}

.person-container p {
    font-size: 1.5rem;
    color: gold;
    margin-bottom: 2rem;
    text-align: center;
}

.person-container button {
    padding: 1rem 2rem;
    background-color: gold;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 450px;
    left: 47%;
    font-weight: bold;
    margin-top: auto;
    text-decoration: none;
}
