/* Add your custom styles here */

.paddings {
  padding-top: 100px;
  padding-bottom: 100px;
}

.innerWidth {
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
}

.card {
  width: 170px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 170px;
  transition: flex 0.7s ease-out;
  cursor: pointer;
}


.imgers img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 24px;
  object-fit: contain;
  position: relative;
}



.card.active {
  flex: 3.5;
}

.card.inactive {
  flex: 2;
}

.card h3 {
  position: absolute;
  font-weight: 600;
  font-size: 18px;
  bottom: 20px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  color: white;
  z-index: 0;
}

.card .bottom-container {
  position: absolute;
  bottom: 0;
  padding: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.card .bottom-container .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 24px;
  margin-bottom: 16px;
}

.card .bottom-container p {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
}

.card .bottom-container h2 {
  margin-top: 24px;
  font-weight: 600;
  font-size: 24px;
  color: white;
}

@media (min-width: 992px) {
  .card {
    height: unset;
  }

  .card.active {
    flex: 10;
  }

  .card.inactive {
    flex: 0.5;
  }

  .card h3 {
    font-size: 26px;
    bottom: unset;
  }

  .card .bottom-container h2 {
    font-size: 32px;
  }
}
