.hero {
    width: 100vw;
    height: auto; /* Change the height to auto */
    position: relative;
    margin-top: 50px;
    background-color: black;
    box-sizing: border-box;
    margin-left: -50vw; /* Move the element to the left by -50% of the viewport width */
    left: 50%; /* Center the element horizontally */
    display: flex; /* set the display property to flex */
    flex-wrap: wrap; /* set the flex-wrap property to nowrap */
    align-items: center; /* align items vertically in center */
    justify-content: center; /* align items horizontally in center */
  }
  

.hero-styles{
    overflow-x: hidden;
}
.body{
    overflow-x: hidden;
}


img {
    max-width: 1100px; /* set the maximum width for the image */
    max-height: 500px;
    width: 100%; /* make the image take up all available space */
    height: 100%; /* maintain aspect ratio */
    display: block; /* remove any default margins */
    margin: 0 auto; /* center the image horizontally */
    overflow-x: hidden; /* prevent horizontal overflow */
  }
  

.hero-text {
    width: 50%;
    color: gold;
    z-index: 1;
    text-align: center;
    padding: 0 2%;
    align-items: center;
    justify-content: center;
}

.hero-text h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1%;
}

.hero-text h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 2%;
}

.hero-text p {
    font-size: 1.3rem;
    margin-bottom: 3%;
}

.hero-text .show {
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: black; /* Change button text color to black */
    background: gold; /* Change button background color to gold */
}
.parent-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent-container-two{
    position: relative; /* set the position to relative */
    width: 50%; /* set the width to 50% */
    margin-top: 2%; /* keep the top margin */
}

iframe {
    margin: 0 auto;
    height: 800px;
    width: 1750px;
    overflow: hidden;
}

.parent-container iframe {
    max-width: 100%; 
    aspect-ratio: 16 / 9; 
  }
  
.number-indicator {
    position: relative;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1;
    padding-top: 10px;
    }
    
    .number-indicator span {
    margin-left: 10px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    }
    
    .number-indicator span.active {
    color: gold;
    }
    
    .number-indicator span.next{
    display: none; /* hide the next button */
    }

    @media screen and (max-width: 850px){
        .hero{
        flex-wrap: wrap; /* Add this to wrap the elements */
        justify-content: center; /* Align items to the center */
        }
        .img{
        order: 2; /* Change the order of img to 2 */
        width: 95%;
        height: 150px; /* Set height to auto */
        margin-top: 25%; /* Add margin to the top to move the image further down */
        }
        .hero-text{
        width: 100%; /* Change text width to 100% */
        order: 1; /* Change the order of text to 1 */
        align-items: center; /* align text to center */
        }
        .number-indicator{
        display: none; /* hide the number indicators */
        }
        iframe{
        width: 95%; /* Reduce the width of the iframe */
        height: 300px;
        margin: 0 auto; /* Center the iframe */
        }
        .hero-text .show{
        margin-top: 10px; /* Add more spacing between the button and the iframe */
        }
        .show{
            width: 50%;
            }
        }
        
        @media screen and (max-width: 450px){
        .hero {
            overflow-x: hidden; /* prevent vertical scrollbar from appearing */
         }
        .img {
            width: 150px; /* Set the width to 150px */
            height: 150px; /* Set the height to 150px */
            overflow-x: hidden;
          }
        .hero-text h1 {
        padding: 10px 20px;
        }
        .hero-text p{
        font-size: 1.1rem;
        padding: 0 0 2rem 0;
        }
        .hero-text .show{
        padding: 0.6rem 1.1rem;
        border-radius: 6px;
        }
    }