.body-container{
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 5%;
    overflow-x: hidden;
    overflow-y: hidden;
}

h1 {
    font-family: 'Arial', sans-serif;
    color: #FFD700;
    font-weight: bold;
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
}
h2 {
    font-family: 'Arial', sans-serif;
    color: #FFD700;
    font-weight: bold;
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
}

p {
    font-family: 'Arial', sans-serif;
    color: #FFD700;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}




