
.sports-container {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow-x: hidden;
  
    animation: fadeIn 1s ease-in-out 0.5s;
  
    .sports-text-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      animation: fadeInUp 1s ease-in-out 0.5s;
  
      h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
        color: #fff;
      }
  
      p {
        font-size: 1.5rem;
        color: #fff;
      }
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  