.NavbarItems {
    background-color: #58803e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
    color: rgb(128, 34, 101);
    }
    
    .navbar-logo {
    color: rgb(012, 255, 170);
    font-size: 2rem;
    cursor: pointer;
    margin-left: 2%;
    font-family: 'Franklin Gothic Medium', 'Times New Roman', Arial, sans-serif;
    }
    
    .nav-menu{
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
    }
    
    .nav-links{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
    }
    
    .nav-links i{
    padding-right: 10px;
    }
    
    .nav-links:hover{
    background-color: #F1C40F;
    color: #000;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    }
    
    .nav-links-moblie{
    display: none;
    }
    
    .menu-icons{
    display: none;
    cursor: pointer;
    }
    
    @media screen and (max-width: 1415px){
    
        .NavbarItems{
            z-index: 99;
        }
        .nav-menu{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            background-color: #fff;
            width: 100%;
            height: auto;
            position: absolute;
            top: 0;
            right: -100%;
            opacity: 0;
            padding: 55px 0 25px 0; 
            margin: 0;
            transition: 0.3s ease-in-out;
            border-radius: 5px;
         }
    
        
         .nav-menu.active{
            left: 0;
            opacity: 1;
            z-index: -1;
            transition: 0.3s ease-in-out;
         }
        
         .nav-links{
            display: block;
            width: 100%;
            font-size: 11px;
            padding: 1.5rem 0 ;
            text-align: center;
         }
         .nav-links:hover{
            background-color: #F1C40F;
            width: 100%;
            padding: 1.5rem 0 ;
        }
        
        
         .nav-links-moblie{
            display: block;
            text-align: center;
            padding: 1.0rem;
            margin: auto;
            border-radius: 4px;
            width: 80%;
            background-color: #F1C40F;
            text-decoration: none;
            color: #000;
            font-size: 1.0rem;
            font-weight: 700;
            letter-spacing: 2px;
        }
         .menu-icons{
            display: block;
            cursor: pointer;
        }
        .menu-icons i{
            font-size: 1.2rem;
            color:#F1C40F;
            margin-left: 2%;
        }
    }
