.paddings {
    padding: 100px 0;
  }
  
  .innerWidth {
    max-width: 1170px;
  }
  
  .flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .mx-auto {
    margin: 0 auto;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .gap-8 {
    gap: 8px;
  }
  
  .flex-0.75 {
    flex: 0.75;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .mt-31px {
    margin-top: 31px;
  }
  
  .max-w-370px {
    max-width: 370px;
  }
  
  .gap-24px {
    gap: 24px;
  }
  
  .lg-flex-row {
    display: flex;
    flex-direction: row;
  }
  
  .relative {
    position: relative;
  }
  
  .z-10 {
    z-index: 10;
  }
  .number {
    padding-left: 8px;
  }
  
  .explore-image {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  .wall {
    width: auto;
    height: 100%;
  }
  